---
layout: default
---


<article class="max-w-3xl mx-auto px-6 pt-24 pb-32">

  <header class="text-center mb-16">
    <p class="text-sm text-white/60 mb-4">
      <%= data.date.strftime("%B %-d, %Y") %>
    </p>

    <h1 class="text-4xl md:text-5xl font-semibold leading-tight text-white">
      <%= data.title %>
    </h1>
  </header>

  <div class="prose prose-invert max-w-none">
    <%= yield %>
  </div>

</article>

